{% extends "::base.html.twig" %}

{% block fos_user_content %}
<div class="page-header">
	<h1>{{ 'user.profile'|trans }}</h1>
</div>

{% include "FOSUserBundle:Profile:show_content.html.twig" %}

<div class="page-header">
	<h3>{{ 'coin.collection'|trans }}</h3>
</div>

<div class="alert alert-info">
	<em>Coming soon &hellip;</em>
</div>
{% endblock fos_user_content %}
