{% extends '::base.html.twig' %}

{% block body %}
<div class="form-centered form-centered-error">
	<h2>{{ 'error'|trans }}</h2>

	<p class="lead">{{ 'error.not_found'|trans }}</p>
</div>
{% endblock %}

