{% extends '::base.html.twig' %}

{% block title %}{{ 'coin.show'|trans }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ block('title') }} <small><a href="{{ path('coin') }}">{{ 'action.back_to_list'|trans }}</a></small></h1>
</div>

{% include "EuroCoinBundle:Coin:popover.html.twig" with { 'popover': false } %}
{% endblock %}
