{% extends '::base.html.twig' %}

{% block title %}{{ 'pm.new'|trans }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ block('title') }}</h1>
</div>

{% include "EuroPrivateMessageBundle:PrivateMessage:form.html.twig" with {
	mode: 'new',
	path: path('pm_new')
} %}

<script src="{{ asset('bundles/europrivatemessage/js/pm.js') }}" type="text/javascript"></script>
{% endblock %}
