{% extends 'EuroPrivateMessageBundle:PrivateMessage:base.html.twig' %}

{% block content %}
<a class="btn btn-primary pull-right" href="{{ path('pm_write') }}">{{ 'pm.write'|trans }}</a>

{% include 'EuroPrivateMessageBundle:PrivateMessage:write_content.html.twig' %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/applicationsonatanews/js/editor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/europrivatemessage/js/write_pm.js') }}" type="text/javascript"></script>
{% endblock %}
