body {
	padding-top: 50px;
}

img {
	vertical-align: text-top;
}

td.error {
	background-color: #F2DEDE;
}

td.error:hover {
	background-color: #EBCCCC;
}

.alert-warning {
	background-color: #FCF8E3;
	border-color: #fBEED5;
	color: #C09853;
}

.btn.btn-info.active {
	background-color: #04C;
}

.btn-toolbar {
	margin-bottom: 0;
	margin-top: 0;
}

.coin-modal-backdrop {
	background-color: rgba(0, 0, 0, .8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1040;
}

.coin-modal-close-button {
	right: 50px;
	position: absolute;
	top: 50px;
}

.coin-modal-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.dropdown-menu li a {
	white-space: normal;
}

.footer {
	background-color: whiteSmoke;
	border-top: 1px solid #E5E5E5;
	margin-top: 30px;
	padding: 30px 5px 15px 5px;
}

.form-centered {
	background-color: #F5F5F5;
	border: 1px solid #E5E5E5;
	margin: 0 auto 20px;
	padding: 19px 29px 29px;
	width: 75%;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-centered .checkbox {
	padding-bottom: 10px;
}

.form-centered-error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
	height: 200px;
	left: 50%;
	margin-left: -180px;
	margin-top: -160px;
	position: absolute;
	top: 50%;
	width: 500px;
}

.modal {
	left: 0;
	margin-left: 10%;
	width: 80%;
}

.popover {
	width: auto;
}

.popover .close {
	margin-right: 7px;
	margin-top: 7px;
}

#filters.collapse.in {
	overflow: visible;
}

#map {
	overflow: hidden;
	padding: 0;
}

#map path {
	stroke: #E3E3E3;
}

#map svg {
	margin-left: -100px;
}

@media (max-width: 767px) {
	body {
		padding-top: 0;
	}
}

