body {
	margin-bottom: 50px;
	margin-top: 50px;
}

#map {
	height: 454px;
}

.alert-warning {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color: #c09853;
}

.btn.btn-info.active {
	background-color: #04C;
}

.btn-toolbar {
	margin-bottom: 0;
	margin-top: 0;
}

.popover {
	width: auto;
}
