{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}{{ 'user.register'|trans }}{% endblock %}

{% block fos_user_content %}
<h2 class="page-header">{{ block('title') }}</h2>

<div class="row-fluid">
	<div class="span6">
		{% include 'FOSUserBundle:Registration:register_content.html.twig' %}
	</div>
	<div class="span6">
		{{ 'user.register_explain'|trans|raw }}
	</div>
{% endblock fos_user_content %}
