{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
<form action="{{ path('user_customize') }}" method="post">
	{{ form_widget(form) }}

	<div class="form-actions">
		<button class="btn btn-primary" name="submit" type="submit">{{ 'user.customize.submit'|trans }}</button>
	</div>
</form>
{% endblock %}

