{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
<ul class="nav nav-tabs">
	<li class="active"><a href="#countries" data-toggle="tab">Pays</a></li>
	<li><a href="#coins" data-toggle="tab">Pièces</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="countries">
		,,,
	</div>
	<div class="tab-pane" id="coins">
		;;;
	</div>
</div>
{% endblock %}
