{% extends 'EuroPageBundle:Page:base.html.twig' %}

{% block title %}{{ 'links'|trans }}{% endblock %}

{% block content %}
<ul class="thumbnails">
	<li class="span12">
		<a class="thumbnail" href="http://www.collect2euros.fr/" target="_blank">
			<img
				alt="Site pour les collectionneurs pièces de 2 euros"
				rel="tooltip"
				src="{{ asset('bundles/europage/images/collect2euros.png') }}"
				title="<h5>Collect2euros</h5>Site pour les collectionneurs de pièces de 2 euros"
			/>
			<h3 style="text-align: center;">Collect2euros</h3>
		</a>
	</li>
</ul>

<ul class="thumbnails">
	<li class="span12">
		<a class="thumbnail" href="http://www.republic-of-gamers.fr/" target="_blank">
			<img
				alt="Republic of Gamers par ASUS - Jouons selon vos regles ! Tout le savoir faire ASUS pour des composants et PC portables surpuissant dédiés au Gaming !"
				rel="tooltip"
				src="{{ asset('bundles/europage/images/republicofgamers.jpg') }}"
				title="<h5>Republic of Gamers par ASUS</h5>Jouons selon vos regles !<br />Tout le savoir faire ASUS pour des composants et PC portables surpuissant dédiés au Gaming !"
			/>
			<h3 style="text-align: center;">Republic of Gamers par ASUS</h3>
		</a>
	</li>
</ul>
{% endblock %}

