{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	{{ 1|number_format_currency('EUR') ~ ' = ' ~ object.exchangerate|number_format_currency(object.formercurrencyiso) }}
	<span class="muted pull-right">{{ ('country.currency.' ~ object.name)|trans }}</span>
{% endblock %}
