{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	{% if value %}
		{% if field_description.hasAssociationAdmin and field_description.associationadmin.hasRoute('edit') and field_description.associationadmin.isGranted('EDIT') %}
			<a href="{{ field_description.associationadmin.generateObjectUrl('edit', value) }}">{{ value|trans|render_relation_element(field_description) }}</a>
		{% else %}
			{{ value|trans|render_relation_element(field_description) }}
		{% endif %}
	{% endif %}
{% endblock %}
