{% extends "::base.html.twig" %}

{% block fos_user_content %}
<div class="page-header">
	<h1>{{ 'user.register'|trans }}</h1>
</div>

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
