{% macro bool(value) %}
	{% if value %}
		{% set class, icon, title = 'success', 'ok', 'yes' %}
	{% else %}
		{% set class, icon, title = 'danger', 'remove', 'no' %}
	{% endif %}

	<btn class="btn btn-{{ class }} btn-mini" title="{{ title|trans }}"><i class="icon-white icon-{{ icon }}"></i></span>
{% endmacro %}
