{% macro bool(value) %}
	{% if value %}
		{% set class, icon = 'success', 'ok' %}
	{% else %}
		{% set class, icon = 'danger', 'remove' %}
	{% endif %}

	<btn class="btn btn-{{ class }} btn-mini"><i class="icon-white icon-{{ icon }}"></i></span>
{% endmacro %}
