<button class="btn btn-info btn-mini" data-coin="{{ coin.id }}" data-desc="{{ macros.coin(coin, true)|e('html') }}" data-toggle="button" data-value="{{ coin.value.value }}">
	<i class="icon-white icon-ok"></i>
</button>

