{% extends 'EuroCoinBundle:Exchange:base.html.twig' %}

{% block title %}{{ 'exchange.search_coins'|trans }}{% endblock %}

{% block content %}
<div class="alert alert-block alert-info fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>

	<h4>{{ 'information'|trans }}</h4>

	{{ 'coin.exchange_explain'|trans|raw }}
</div>

<div class="row-fluid">
	{% for match in matches %}
		{% include 'EuroCoinBundle:Exchange:users_list.html.twig' with {
			total: match.total,
			user: match[0].user
		} %}
	{% endfor %}
</div>
{% endblock %}

